@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Inter, sans-serif;
}

.page-wrapper {
  max-width: 1793px;
  margin: 0 auto;
}

.navbar-wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px; 
}
.hero-section {
  padding-left: 113px;
}


.navbar {
  width: 1563.61px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  background: #ffffff;
 
  border-radius: 24px;
  padding: 0 16px;
  box-sizing: border-box;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 220px;
  margin-left: 80px;
}

.logo-img {
  width: 138px;
  height: 138px;
  object-fit: contain;
}

.logo-text {
  font-weight: 600;
  color: #0B3E74;
  font-family: Poppins;
  font-weight: 700;
  font-size: 19px;
  font-style: bold;
}

.city-text {
  width: 60;
height: 21;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
margin-left: 30;
}

/* CENTER */
.nav-center {
  display: flex;
  gap: 10px;
  flex: 1;
  max-width: 720px;
  margin: 0 24px;
}

.location-select {
  height: 32px;
  min-width: 220px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  padding: 0 12px;
  font-size: 13px;
}

.search-input {
  flex: 1;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  padding: 0 14px;
  font-size: 13px;
}


.icon-shop{
  width: 20px;
  height: 20px;
  
}
.icon-box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.social-btn {
  @apply w-9 h-9 flex items-center justify-center rounded-full bg-gray-800 text-white hover:bg-gray-700 transition;
}




